/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
    "primary": #ffb400,
    "secondary": #2e8546,
    "body": #4c4c4c,
    "dark": #231f20,
    "info": tomato,
);
.containers{
    max-width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}
.rows {
    //border: 2px solid red
}
.cols {
    //border: 2px solid blue
}

#AboutForm{
    //background-color: limegreen;
}


/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";