.navbarButtons button{
    background-color: white !important;
    border-top: solid 0px #ffb400 !important;
    border-left: solid 0px #ffb400 !important;
    border-right: solid 0px #ffb400 !important;
    box-shadow: none !important;
}

.table button {
    color: white !important;
}

.card button {
    color: white !important;
}

.navbarButtons button:hover {
    color: #ffb400 !important;
    border-bottom: solid 2px #ffb400 !important;
}

.active {
    color: #ffb400 !important;
    border-top: solid 0px #ffb400 !important;
    border-left: solid 0px #ffb400 !important;
    border-right: solid 0px #ffb400 !important;
    border-bottom: solid 2px #ffb400 !important;
}

.inactive {
    color: grey;
    background-color: white !important;
    border-color: #ffb400 !important;
    border-top: solid 0px #ffb400 !important;
    border-left: solid 0px #ffb400 !important;
    border-right: solid 0px #ffb400 !important;
    border-bottom: solid 1px lightgray !important;
    box-shadow: none !important;
}

.otherButtons {
    color: grey;
    border-bottom: solid 1px lightgray !important;
}

.labelForHidden {
    width: 140px;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    text-rendering: auto;
    align-items: flex-start;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #ffb400;
    border-color: #ffb400;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.labelForHidden:hover {
    line-height: 1.5;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    text-rendering: auto;
    align-items: flex-start;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #c08600;
    border-color: #c08600;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.filePrev {
    width: 140px;
    height: 140px;
    border: 2px solid rgb(0, 0, 0, 0.125);
    object-fit: contain;
}

.file {
    display: block;
    float: right;
    width: 140px;
    margin: 0px 20px 20px 20px;
}